<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>A Website</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
 </head>
<body>

</body>
    <header class="navbar">
        <section class="navbar-slection">
            <a href="/" class="nabar-brand mar-2">Home</a>
            <a href="/profile" class="btn btn-link">Profile</a>
            <a href="/create" class="btn btn-link">Create Post</a>
        </section>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <a href="/about">About</a>
    </footer>
</html>