<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>A Website</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <div>
        <div id="navBody"  class="columns col-oneline">
            <div class="navbar col-12">
                <section class="btn-group">
                    <a href="/" class="btn text-dark">Home</a>
                    <a href="/posts" class="btn text-dark">Posts</a>
                    <a href="/posts/create" class="btn text-dark"> Create Post</a>
                </section>
            </div>
        
            <div class="navbar col-auto">
                <section class="btn-group">
                    {{#if isLoggedIn}}
                    <a href="/logout" class="btn text-dark">Log out</a>
                    <figure class="avatar avatar-lg" data-initial="YZ">
                        <img src="/images/avatar.jpg" alt="">
                        <i class="avatar-prescence online"></i>
                    </figure>
                    {{else}}
                    <a href="/login" class="btn text-dark">Login</a>
                    <a href="/sign-up" class="btn text-dark">Sign Up</a>
                    {{/if}}
                </section>
            </div>
        </div>
        <div id="mainBody" class="container"> 
           <div class="columns">
               <div class="column col-xs-12 col-2 text-light">
                           {{{body}}}
               </div>
           </div>
        </div>
            
        
        <div id="footBody" class="breadcrumb container">
            <a href="/about" class="breadcrumb-item">About</a>
            <a href="/contact" class="breadcrumb-item">Contact</a>
        </div>
    </div>
    
</body>

</html>