<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>A Website</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
 </head>
<body>

</body>
    <header class="nav">
        <section class="nav-item">
            <a href="/" class="nabar-brand mar-2">Home</a>
            <a href="/profile" class="btn btn-link">Profile</a>
            <a href="/create" class="btn btn-link">Create Post</a>
        </section>
    </header>
    <main>
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon_people"></i>
            </div>
            <p class="empty-title h5">There is nothing here</p>
            <p class="empty-subtitle">Add a new blogpost</p>
            <div class="empty-action">
                <button class="btn btn-primary">Add a new post</button>
            </div>
        </div>
        {{{body}}}
    </main>
    <footer>
        <a href="/about">About</a>
    </footer>
</html>