<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>A Website</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <div>
        <div id="navBody" class="navbar">
            <section class="btn-group"> 
                <a href="/" class="btn">Home</a>
                <a href="/profile" class="btn">Profile</a>
                <a href="/create" class="btn"> Create Post</a>
            </section>
        </div>

        
        <div id="mainBody" class="container"> 
           <div class="columns">
               <div class="column col-xs-12 col-2 text-light">
                           {{{body}}}
               </div>
           </div>
        </div>
            
        
        <div id="footBody" class="breadcrumb container">
            <a href="/about" class="breadcrumb-item">About</a>
            <a href="/contact.hbs" class="breadcrumb-item">Contact</a>
        </div>
    </div>
    
</body>

</html>